body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);   
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(167, 127, 79);
    color: white;
    height: 5rem;
    align-items: center;
}

nav ul.navbar {
   display: flex;
   list-style: none;
   gap: 1.5rem;
   color: white;
   align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid white;
    padding-right: 1rem;
    border-left: none;
    border-top: none;
    border-bottom: none;
    transition: .4s;
}

header nav a:hover {
    color: black;
}

h1.title {
    text-align: center;
    font-weight: 300;
}

section {
    width: 70%;
    margin: 0 auto;
    align-items: center;
    line-height: 2;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

div.user-name input {
    display: block;
}

div.user-password input {
    display: block;
}

label {
    font-size: 21px;
    line-height: 2.4;
}

form div input {
    width: 70%;
    height: 24px;
}

button {
    background-color: rgba(88, 77, 77, 0.527);
    padding: .8rem;
    margin-top: 1rem;
    border-radius: 8px;
    outline: none;
    color: white;
    width: 15vw;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: rgb(167, 127, 79);
}

h3 a {
    color: black;
    text-decoration: none;
}

h3 a:hover {
    color: rgb(167, 127, 79); 
}

h4 {
    margin-left: 2.6rem;
}

h4 a:hover {
    color: black;
}

h4 a {
    text-decoration: none;
    color: white;
    transition: .3s;
}

footer {
    background-color: rgb(167, 127, 79);
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
    margin-top: auto;
    margin: 0;
}

footer div ul {
    color: white;
} 

@media screen and (min-width: 1080px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    section {
       margin-top: 7%; 
    }
    footer{
        margin-top: auto;
    }
}

@media screen and (max-width: 1080px) {
    html, body {
        width: 100%;    
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    section {
        margin-top: 7%;
    }
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    footer {
        margin-top: auto;
        height: 20%;
    }
}

@media screen and (max-width: 1000px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        height: 23%;
    }
}

@media screen and (max-width: 950px) {
    header nav {
        font-size: 14px;
    }
}

@media screen and (max-width: 900px) {
    header nav {
        font-size: 12px;
    }
    h1 {
        font-size: 26px;
    }
}

@media screen and (max-width: 850px) {
    h1 {
        font-size: 24px;
    }
    section {
        margin-top: 6%;
    }
    header nav ul {
        border: none;
        margin-left: -12px;
    }
    footer {
        height: 15rem;
    }
}

@media screen and (max-width: 720px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    header nav {
        display: none;
    }
    section {
        margin-top: 15%;
    }
    footer ul {
        display: none;
    }
    footer h4 {
        font-size: 14px;
    }
    footer {
        height: 65px;
        margin-top: auto;
    }
    footer a {
        transition: .3s;
    }
    footer a:hover {
        color: black;
    }
}

@media screen and (max-height: 700px) {
    section {
        margin-top: 0;
        margin-bottom: 0;
    }

    h2 {
        margin: 0;
    }

    footer {
        margin-top: auto;
    }
}

@media screen and (max-width: 600px) {
    footer h4 {
        margin-left: 18px;
    }
}

@media screen and (max-width: 500px) {
    h3 {
        font-size: 12px;
    }
    section{ 
        margin-top: 30%;
    }
    button {
        width: 9vh;
    }
    footer {
        height: 6%;
    }

    footer h4 {
        gap: 10px;
        font-size: .7rem;
        margin: 5px;
        margin-top: 1.2rem;
        display: flex;
        justify-content: center;
        font-weight: 800;
    }
}

@media  screen and (max-width: 400px) {
    h2 {
        font-size: 28px; 
    }    
    section {
        margin-top: 35%;
    }
    footer h4 {
        margin-top: .9rem;
    }
}
