body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
}

header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(167, 127, 79);
    color: white;
    height: 5rem;
    align-items: center;
}

nav ul.navbar {
   display: flex;
   list-style: none;
   gap: 20px;
   color: white;
   align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid white;
    padding-right: 1rem;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

h1.title {
    text-align: center;
    font-weight: 300;
}

section {
    width: 70%;
    margin: 0 auto;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 8%;
    line-height: 2;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

div.user-name input {
    display: block;
}

div.user-password input {
    display: block;
}

label {
    font-size: 21px;
    line-height: 2.4;
}

form div input {
    width: 70%;
    height: 24px;
}

button {
    background-color: rgba(88, 77, 77, 0.527);
    padding: .8rem;
    margin-top: 1rem;
    border-radius: 8px;
    outline: none;
    color: white;
    width: 15vw;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: rgb(167, 127, 79);
}

h4 {
    margin-left: 2.6rem;
}

h4 a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: rgb(167, 127, 79);
    display: flex;
    justify-content: space-around;
    position: buttom;
}

footer div {
    display: grid;
    align-items: center;
}

footer nav ul {
    list-style: none;
    color: white;
}