body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);   
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(167, 127, 79);
    color: white;
    align-items: center;
}

nav ul.navbar {
   display: flex;
   list-style: none;
   gap: 1.5rem;
   color: white;
   align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid white;
    padding-right: 1rem;
    border-left: none;
    border-top: none;
    border-bottom: none;
    transition: .4s;
}

header nav a:hover {
    color: black;
}

h1.title {
    text-align: center;
    font-weight: 300;
}

section {
    width: 70%;
    margin: 0 auto;
    align-items: center;
    line-height: 2;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

div.form-input input{
    display: block;
}

label {
    font-size: 21px;
    line-height: 2.4;
}

form div input {
    width: 70%;
    height: 1.7rem;
}

button {
    background-color: rgba(88, 77, 77, 0.527);
    padding: .8rem;
    margin-top: 1rem;
    border-radius: 8px;
    outline: none;
    color: white;
    width: 15vw;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: rgb(167, 127, 79);
}

h3 a {
    color: black;
    text-decoration: none;
}

h3 a:hover {
    color: rgb(167, 127, 79); 
}

h4 {
    margin-left: 2.6rem;
}

h4 a:hover {
    color: black;
}

h4 a {
    text-decoration: none;
    color: white;
    transition: .3s;
}

footer {
    background-color: rgb(167, 127, 79);
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
    height: 25%;
    margin-top: auto;
    margin: 0;
    align-items: center;
}

footer div ul {
    color: white;
    
} 

@media screen and (min-width: 1080px) {
    section {
       margin-top: 4%; 
    }
    footer{
        margin-top: auto;
    }
}

@media screen and (max-width: 1080px) {
    header nav {
        font-size: .9rem;
    }
    section {
        margin-top: 3%;
    }
    button {
        width: 20vh;
    }
    footer {
        margin-top: auto;
    }
    footer ul {
        font-size: .94rem;
    }
}

@media screen and (max-width: 720px) {
    header nav {
        display: none;
    }
    section {
        margin-top: 15%;
    }
    form div input {
        width: 100%;
    }
    button {
        width: 100%;
    }
    footer ul {
        display: none;
    }
    footer h4 {
        font-size: 1rem;
        margin: auto;
    }
    footer {
        height: 7%;
        margin-top: auto;
    }
}

@media screen and (max-width: 500px) {
    h2 {
        font-size: 1,5rem;
    }
    section{ 
        margin: auto;
    }
    button {
        width: 100%;
    }
    footer {
        height: 6%;
        align-items: center;
    }
    footer h4 {
        font-size: .8rem;
    }
    form div input {
        width: 100%;
    }
}